{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database={{RESOURCE_ROUTE}};Username=postgres;Password=postgres"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
