<Solution>
  <Folder Name="/Tests/" />
  <Folder Name="/Tests/Unit/">
    <Project Path="Tests/Unit/{{API_NAME}}.Tests.Unit.csproj" />
  </Folder>
  <Folder Name="/Tests/BlackBox/">
    <Project Path="Tests/BlackBox/{{API_NAME}}.Tests.BlackBox.csproj" />
  </Folder>
  <Project Path="{{API_NAME}}/{{API_NAME}}.csproj" />
</Solution>
