replicaCount: 1

image:
  repository: {{IMAGE_NAME}}
  pullPolicy: IfNotPresent
  tag: latest

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  port: 8080

resources: {}

livenessProbe:
  httpGet:
    path: /healthz
    port: http
readinessProbe:
  httpGet:
    path: /healthz
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: {{PROJECT_SLUG}}.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

httpRoute:
  enabled: false
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - {{PROJECT_SLUG}}.local

networkPolicy:
  enabled: true

postgres:
  image:
    repository: {{DATABASE_IMAGE_NAME}}
    tag: local
    pullPolicy: IfNotPresent
  port: 5432
  storage: 1Gi

nodeSelector: {}
tolerations: []
affinity: {}
