apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "{{PROJECT_SLUG}}.fullname" . }}-postgres-data
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: {{ .Values.postgres.storage }}
